{#
/**
 * @file
 * File description
 */
#}
{#{% set classes = ["custom-block-content"] %}#}
{#<div {{ attributes.addClass(classes) }} style="color:{{ color }}">{{ time }}</div>#}

<div id="getting-started"></div>

